  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .minimum-content-height {
      min-height: 80vh;
  }

  .text-center {
      text-align: center;
  }

  .alert-error {
      background-color: red;
      color: white;
  }

  .alert-success {
      background-color: green;
      color: white;
  }