body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body,
button {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.1em;
}

.band-room-style {
  font-family: "Kaushan Script", "cursive";
}

.username-style {
  color: rgb(255, 145, 0);
}

main {
  flex: 1 0 auto;
}

.flex-row {
  justify-content: space-evenly;
  flex-flow: column wrap;
}

.minimum-content-height {
  min-height: 60vh;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.alert-error {
  background-color: red;
  color: white;
}

.alert-success {
  background-color: green;
  color: white;
}

.btn-small {
  height: 24px;
  width: 60px;
  line-height: 24px;
  margin: 5px 5px;
  padding: 0 0.5em;
}

.text-black {
  color: #111111;
}

.lopsided-border {
  border-radius: 10px 60px 10px;
}

.less-rounded {
  border-radius: 10px;
}

.rounded-bottom {
  border-radius: 0px 0px 10px 10px;
}

.rounded-top {
  border-radius: 10px 10px 0px 0px;
}

.card-content-padding {
  padding: 1.5rem;
}

.footer-icon {
  margin-left: 1.5rem;
}

.doorhandle {
  background-image: url("/static/assets/images/door-handle-right-side-70x90.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 90px;
}

@media screen and (max-width: 768px) {
  .card-content-padding {
    padding: 0.5rem;
  }

  .doorhandle {
  background-image: url("/static/assets/images/door-handle-right-side-35x45.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 45px;
  margin-top: 50%;
}
}
