{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Welcome to The Band Room</h1>
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img
        class="activator"
        src="{{url_for('static', filename='assets/images/rock-musicians-480x300.png')}}"
      />
    </div>
    <div class="card-content text-center">
      <a class="activator waves-effect waves-light btn-large">Get Started</a>
      <p></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"
        >Create your room!<i class="material-icons right">close</i></span
      >
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
              <input id="first_name" type="text" class="validate" />
              <label for="first_name">Your Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 tooltipped" data-position="top" data-tooltip="This is your unique Room Key - Don't make it too simple and make sure to save and remember your Room Key">
              <i class="material-icons prefix">lock</i>
              <input id="password" type="password" class="validate" />
              <label for="password">Room Key</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">album</i>
              <input id="band_name" type="text" class="validate" />
              <label for="band_name">Band Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate" />
              <label for="email">Email</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
