{% extends 'base.html' %}{% block title %}Add a band room{% endblock %}{% block
head %} {{ super() }} {% endblock %} {% block content %}
<div class="container">
  <div class="card less-rounded">
    <div class="row text-center">
      <div class="col s12">
        <h3>
          HELLO: <span class="username-style">{{session['username']}}</span>, let's create your room.
        </h3>
      </div>
    </div>
    <div class="card-image waves-effect waves-block waves-light">
      <img
        class="activator"
        src="{{  url_for('static', filename='assets/images/rock-musicians-480x300.png')  }}"
      />
    </div>
    <div class="card-content text-center">
      <a class="activator waves-effect waves-light btn"
        >Create room</a
      >
      <p></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"
        >Create your room!<i class="material-icons right">close</i></span
      >
      <div class="row">
        <form
          id="create-room-form"
          action="{{ url_for('add_band_room') }}"
          method="POST"
          class="col s12"
        >
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input
                id="owner_name"
                name="owner_name"
                type="text"
                required="required"
                class="validate"
              />
              <label for="owner_name">Your Name</label>
            </div>
          </div>
          <div class="row">
            <div
              class="input-field col s12 tooltipped"
              data-position="top"
              data-tooltip="This is your unique Room Key - Don't make it too simple and make sure to save and remember your Room Key"
            >
              <i class="material-icons prefix">lock</i>
              <input
                id="room_key"
                name="room_key"
                type="text"
                required="required"
                class="validate"
              />
              <label for="room_key">Room Key</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">album</i>
              <input
                id="band_name"
                name="band_name"
                type="text"
                required="required"
                class="validate"
              />
              <label for="band_name">Band Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">event_note</i>
              <input
                id="band_notes"
                name="band_notes"
                type="text"
                required="required"
                class="validate"
              />
              <label for="band_notes">Band Description</label>
            </div>
          </div>
          <div class="row">
            <div
              class="input-field col s12 tooltipped"
              data-position="top"
              data-tooltip="Add a link to your facebook page or soundcloud or spotify"
            >
              <i class="material-icons prefix">play_circle_outline</i>
              <input
                id="social_media"
                name="social_media"
                type="text"
                class="validate"
              />
              <label for="social_media">Add a link to your bands music</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 text-center">
              <button
                class="waves-effect waves-light btn less-rounded"
                type="submit"
                name="action"
              >
                Create Your Room
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
