<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{url_for('static', filename='favicon/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{url_for('static', filename='favicon/favicon-16x16.png')}}"
    />
    <link
      rel="manifest"
      href="{{url_for('static', filename='favicon/site.webmanifest')}}"
    />
    <link
      rel="mask-icon"
      href="{{url_for('static', filename='favicon/safari-pinned-tab.svg')}}"
      color="#5bbad5"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='vendor/css/materialize.min.css')}}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='assets/css/style.css')}}"
      type="text/css"
    />
    <title>The Band Room - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="orange">
          <div class="nav-wrapper container orange">
            <a href="{{url_for('the_band_room')}}" class="brand-logo"
              ><img
                src="{{url_for('static', filename='assets/images/the-band-room-icon-32x32.png')}}"
            /></a>
            <a href="" data-target="mobile-nav" class="sidenav-trigger" id="side-nav-show"
              ><i class="material-icons">menu</i></a
            >
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li class="active">
                <a href="{{url_for('register')}}">Get Started</a>
              </li>
              <li><a href="{{url_for('browse_rooms')}}">Browse Rooms</a></li>
              {% if 'username' in session %}
              <li
                class="tooltipped"
                data-position="bottom"
                data-tooltip="Log Out: {{session['username']}}"
              >
                <a href="{{url_for('logout')}}">Log Out</a>
              </li>
              {% else %}
              <li>
                <a href="" data-target="login_user_modal" class="modal-trigger"
                  >Log In</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>

      </div>
              <ul class="sidenav" id="mobile-nav">
          <li><a href="{{url_for('register')}}">Get Started</a></li>
          <li><a href="{{url_for('browse_rooms')}}">Rooms</a></li>
          <li>
            <a href="" data-target="login_user_modal" class="modal-trigger"
              >Log In</a
            >
          </li>
        </ul>
    </header>
    <main>
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="container alert-{{category}}">
        The Band Room Says: {{ message }}
      </div>
      {% endfor %}
      <div class="container minimum-content-height">
        {% block content %} {% endblock %}
      </div>
      <div class="section orange lighten-3">
        <div class="container text-center">
          <div class="flex-row">
            <div class="card">
              <div class="card-content orange">
                <h5>The Band Room is a place where you can....</h5>
              </div>
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width orange">
                  <li class="tab">
                    <a class="active white-text" href="#plan">Plan</a>
                  </li>
                  <li class="tab">
                    <a class="white-text" href="#organize">Organize</a>
                  </li>
                  <li class="tab">
                    <a class="white-text" href="#share">Share</a>
                  </li>
                </ul>
              </div>
              <div class="card-content orange">
                <div id="plan">
                  Plan a Jam, a rehearsal or even a Pizza Party. Use the
                  calendar to set a date and time.
                </div>
                <div id="organize">
                  Don't waste time during the rehearsal, organize your song
                  list, add notes about the songs you are learning.
                </div>
                <div id="share">
                  Time to share that music that you've worked so hard on with
                  your fans.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section white">
        <div class="container text-center">
          <h5>How To Get Started</h5>
          <div class="container flex-row">
            <div class="row">
              <div class="col s12 m4">
                <div class="card-panel red lighten-2 rounded-border">
                  <i class="material-icons circle red">account_circle</i>
                  <span>Register</span>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card-panel yellow lighten-2 rounded-border">
                  <i class="material-icons circle yellow">add</i>
                  <span>Create</span>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card-panel green lighten-2 rounded-border">
                  <i class="material-icons circle green">share</i>
                  <span>Share</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'components/registerform.html' %} {% include
      'components/createroomform.html' %} {% include 'components/loginform.html'
      %}
    </main>
    <footer class="page-footer orange">
      <div class="footer-copyright">
        <div class="container">
          © 2020 The Band Room - By Jays-T
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
            $(document).ready(function() {
              $(".modal").modal();
              $(".sidenav").sidenav();
              $(".dropdown-trigger").dropdown();
            });

          <!-- Show or Hide the password-->
            $("#register_show_password").click(function() {
              showPwd();
            });

            function showPwd() {
              let pwd = document.getElementById("user_key");
              if (pwd.type === "password") {
                pwd.type = "text";
              } else {
                pwd.type = "password";
              }
            }

            <!-- Compare both passwords on register page-->
              function comparePassword(){
              let passwordsMatch = false;
              let pwd1 = $("#user_key").val()
              let pwd2 = $("#user_key_check").val()
              if(pwd1 == pwd2){
                  $("#password_confirm").text(`Passwords match!`);
                  $("#register_user_button").removeClass("disabled");
                  passwordsMatch = true;
              } else {
                  $("#password_confirm").text(`Passwords do not match!`);
                  $("#register_user_button").addClass("disabled");
          }
      };
    </script>
  </body>
</html>
