<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{url_for('static', filename='favicon/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{url_for('static', filename='favicon/favicon-16x16.png')}}"
    />
    <link
      rel="manifest"
      href="{{url_for('static', filename='favicon/site.webmanifest')}}"
    />
    <link
      rel="mask-icon"
      href="{{url_for('static', filename='favicon/safari-pinned-tab.svg')}}"
      color="#5bbad5"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='vendor/css/materialize.min.css')}}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='assets/css/style.css')}}"
      type="text/css"
    />
    <title>The Band Room - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper orange">
          <a href="{{url_for('the_band_room')}}" class="brand-logo"
            ><i class="material-icons prefix">home</i></a
          >
          <span></span>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url_for('the_band_room')}}">Get Started</a></li>
            <li><a href="{{url_for('browse_rooms')}}">Rooms</a></li>
            <li><a href="{{url_for('logout')}}">logout {{session['username']}}</a></li>
          </ul>
        </div>
      </nav>
      
      <ul class="sidenav" id="mobile-nav">
        <li><a href="{{url_for('the_band_room')}}">Get Started</a></li>
        <li><a href="{{url_for('browse_rooms')}}">Rooms</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </header>
    <main>
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="container alert-{{category}}">
        The Band Room Says: {{ message }}
      </div>
      {% endfor %}
      <div class="container minimum-content-height">
        {% block content %} {% endblock %}
      </div>
      {% block wide %} {% endblock %}
    </main>
    <footer class="page-footer orange">
      <div class="footer-copyright">
        <div class="container">
          © 2020 The Band Room - By Jays-T
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
      
      $(document).ready(function () {
        $(".modal").modal();
        $(".sidenav").sidenav();
      });

      $("#register_show_password").click(function(){
          showPwd();
      });

      function showPwd() {
        let x = document.getElementById("user_key");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
  </body>
</html>
