{% extends 'base.html' %}{% block title %}Browse Rooms{% endblock %}{% block
head %} {{ super() }} {% endblock %} {% block content %}
<div class="container text-center">
  <div class="flex-row">
    <div class="card less-rounded">
      <div class="card-content-padding orange lighten-4 less-rounded">
        <h5>Browse Rooms</h5>
        {% if 'username' in session %}
        <button class="btn less-rounded teal lighten-2 text-black">
          <a class="text-black" href="{{ url_for('user_landing') }}">
            My Area
          </a>
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container flex-row">
  <div class="row">
    {% for room in band_rooms %}
    <div class="col s12 m4">
      <div class="card blue-grey darken-1 less-rounded">
        <div class="card-image card-content-padding rounded-top">
          <img class="rounded-top"
            src="{{  url_for('static', filename='assets/images/rock-musicians-351x220.png')  }}"
          />
        </div>
        <div class="card-content rounded-bottom">
          <div class="row">
            <div class="col s8 m8">
              <p>
                Room Owner:
                <span class="username-style">{{room.owner_name}}</span>
              </p>
              <p>
                Band: <span class="username-style">{{room.band_name}}</span>
              </p>
            </div>
            <div class="col s4 m4">
              <a
                href="{{ url_for('my_room', room_id=room._id) }}"
                class="right halfway-fab waves-effect waves-light tooltipped doorhandle"
                data-position="bottom"
                data-tooltip="Open Room"
              >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
</div>
