{% extends 'base.html' %} {% block content %}
<div class="container">

  <div class="row">
    {% for room in band_rooms %}
    <div class="col s4 m6">
      <div class="card">
        <div class="card-image">
          <img
            src="{{url_for('static', filename='assets/images/rock-musicians-192x192.png')}}"
          />
          <span class="card-title">{{room.owner_name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"
            ><img
              src="{{url_for('static', filename='assets/images/door-handle-right-side-70x90.png')}}"
          /></a>
        </div>
        <div class="card-content">
          <p>
            Band: {{room.band_name}}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
