{% extends 'base.html' %}{% block title %}Home{% endblock %}{% block head %} {{
super() }} {% endblock %} {% block content %}
<!--Hero Image Container-->
<div class="container text-center">
  <h5>Welcome <br />to <br /></h5>
  <h4>The Band Room</h4>
  <div class="card text-left less-rounded">
    <div class="card-image waves-effect waves-block waves-light rounded-top">
      <img
        src="{{  url_for('static', filename='assets/images/rock-musicians-480x300.png')  }}"
      />
    </div>
    <div class="card-content-padding text-center">
      <a
        href="{{  url_for('register')  }}"
        class="waves-effect waves-light btn-large teal lighten-3 black-text less-rounded"
        >Get Started</a
      >
      <p></p>
    </div>
  </div>
</div>
<!--Information Section-->
<div class="section blue lighten-5 less-rounded">
  <div class="container text-center">
    <div class="flex-row">
      <div class="card less-rounded">
        <div class="card-content-padding orange rounded-top">
          <h5>The Band Room is a place where you can....</h5>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width orange">
            <li class="tab">
              <a class="active white-text" href="#plan">Plan</a>
            </li>
            <li class="tab">
              <a class="white-text" href="#organize">Organize</a>
            </li>
            <li class="tab">
              <a class="white-text" href="#share">Share</a>
            </li>
          </ul>
        </div>
        <div class="card-content-padding orange rounded-bottom">
          <div id="plan">
            Plan a Jam, a rehearsal or even a Pizza Party. Use the calendar to
            set a date and time.
          </div>
          <div id="organize">
            Don't waste time during the rehearsal, organize your song list, add
            notes about the songs you are learning.
          </div>
          <div id="share">
            Time to share that music that you've worked so hard on with your
            fans.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Visual How To-->
<div class="section blue lighten-5">
  <div class="container text-center">
    <h5>How To Get Started</h5>
    <div class="flex-row">
      <div class="row">
        <div class="col s12 m4">
          <div class="card-panel red lighten-2 lopsided-border">
            <i class="material-icons circle red">account_circle</i>
            <span>Register</span>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel yellow lighten-2 lopsided-border">
            <i class="material-icons circle yellow">add</i>
            <span>Create</span>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel green lighten-2 lopsided-border">
            <i class="material-icons circle green">share</i>
            <span>Share</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Future Features-->
<div class="container">
  <div class="card card-content-padding less-rounded text-center">
    <h5>Future Features</h5>
    <div class="flex-row">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-content text-center">
            <p>Add Band Members</p>
            <p>Calendar</p>
            <p>Songlist</p>
            <p>Progress Tracker</p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card-content text-center">
            <p>Chat</p>
            <p>Event Notifications</p>
            <p>Email updates</p>
            <p>Share your Music</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
