{% extends 'base.html' %}{% block title %}Login{%
endblock %}{% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="container flex-row">
  <div class="card orange lighten-4 less-rounded">
    <div class="card-content text-center">
    <h5>Login</h5>
      <form id="login-form" action="{{ url_for('login') }}" method="POST">
        <div class="row">
          <div class="input-field orange lighten-4 col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              id="username"
              name="username"
              type="text"
              required="required"
              class="validate"
            />
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input
              id="user_key"
              name="user_key"
              type="password"
              required="required"
              class="validate"
            />
            <label for="user_key">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 text-center">
            <button
              class="waves-effect waves-light btn-large less-rounded black-text"
              type="submit"
              name="action"
            >
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
