{% extends 'base.html' %}{% block title %}Register User With The Band Room{%
endblock %}{% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="container flex-row">
  <h3>Create your account</h3>
  <div class="card">
    <div class="card-content">
      <form
        id="create-account-form"
        action="{{ url_for('register_user') }}"
        method="POST"
        class="col s12"
      >
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              id="username"
              name="username"
              type="text"
              required="required"
              class="validate"
            />
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div
            class="input-field col s12 tooltipped"
            data-position="top"
            data-tooltip="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          >
            <i class="material-icons prefix">lock</i>
            <input
              id="user_key"
              name="user_key"
              type="password"
              required="required"
              class="validate"
            />
            <label for="user_key">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label>
              <input type="checkbox" id="register_show_password" />
              <span>Show password</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div
            class="input-field col s12 tooltipped"
            data-position="top"
            data-tooltip="Passwords must be identical"
          >
            <i class="material-icons prefix">lock</i>
            <input
              id="user_key_check"
              name="user_key_check"
              type="password"
              required="required"
              class="validate"
              oninput="comparePassword()"
            />
            <label for="user_key_check">Confirm Password</label>
            <p id="password_confirm"></p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 text-center">
          <p>Is this your first time?</p>
            <button
              id="register_user_button"
              class="waves-effect waves-light btn-large disabled teal lighten-3 black-text less-rounded"
              type="submit"
              name="action"
            >
              Register
            </button>
          </div>
        </div>
      </form>
       <div class="row">
          <div class="input-field col s12 text-center">
          <p>If you've been here before.</p>
          <button
              data-target="login_user_modal"
              class="btn modal-trigger teal lighten-3 black-text less-rounded"
            >
              Login
            </button>
          </div>
          </div>
      
    </div>
  </div>
</div>
{% endblock %}
