{% extends 'base.html' %}{% block title %}User Area{% endblock %}{% block head
%} {{ super() }} {% endblock %} {% block content %}
<!--User Area-->
<div class="container flex-row">
  <div class="card text-center blue-grey darken-1 less-rounded">
    <div class="row">
      <div class="col s12">
        <h5>
          HELLO: <span class="username-style">{{session['username']}}</span>
        </h5>
      </div>
    </div>
    <div class="card-content rounded-top">
      <p>Welcome to your personal area of The Band Room.</p>
      <p>More features will be added as we develop the site, but for now...</p>
      <p>...Let's get started!</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="black-text blue-grey darken-1" href="#browse">Browse</a></li>
        <li class="tab">
          <a class="active black-text blue-grey darken-1" href="#create">Create</a>
        </li>
        <li class="tab"><a class="black-text blue-grey darken-1" href="#jam">Jam</a></li>
      </ul>
    </div>
    <!--Browse Other Rooms-->
    <div class="card-content-padding blue-grey darken-1 rounded-bottom">
      <div id="browse">
        <div class="card orange lighten-4 less-rounded">
          <div class="row">
            <div class="col s12">
              <div class="card-content orange lighten-4">
                <button class="btn less-rounded teal lighten-2 text-black">
                  <a class="text-black" href="{{ url_for('browse_rooms') }}">
                    Browse Rooms
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Create New Band Room-->
      <div id="create">
        {% if 'username' in session %}
        <div class="card less-rounded orange lighten-4">
          <div class="row">
            <div class="col s12">
              <div class="card-content-padding">
                <!--Create Room Form-->
                <form
                  id="create-room-form"
                  action="{{ url_for('add_band_room') }}"
                  method="POST"
                  class="col s12"
                >
                  <!--Username-->
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input
                        id="owner_name"
                        name="owner_name"
                        type="text"
                        required="required"
                        class="validate"
                      />
                      <label for="owner_name">Your Name</label>
                    </div>
                  </div>
                  <!--Room Key-->
                  <div class="row">
                    <div
                      class="input-field col s12 tooltipped"
                      data-position="top"
                      data-tooltip="This is your unique Room Key - Don't make it too simple and make sure to save and remember your Room Key"
                    >
                      <i class="material-icons prefix">lock</i>
                      <input
                        id="room_key"
                        name="room_key"
                        type="text"
                        required="required"
                        class="validate"
                      />
                      <label for="room_key">Room Key</label>
                    </div>
                  </div>
                  <!--Band Name-->
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">album</i>
                      <input
                        id="band_name"
                        name="band_name"
                        type="text"
                        required="required"
                        class="validate"
                      />
                      <label for="band_name">Band Name</label>
                    </div>
                  </div>
                  <!--Band Description-->
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">event_note</i>
                      <input
                        id="band_notes"
                        name="band_notes"
                        type="text"
                        required="required"
                        class="validate"
                      />
                      <label for="band_notes">Band Description</label>
                    </div>
                  </div>
                  <!--Link to Music-->
                  <div class="row">
                    <div
                      class="input-field col s12 tooltipped"
                      data-position="top"
                      data-tooltip="Add a link to your facebook page or soundcloud or spotify"
                    >
                      <i class="material-icons prefix">play_circle_outline</i>
                      <input
                        id="social_media"
                        name="social_media"
                        type="text"
                        required="required"
                        class="validate"
                      />
                      <label for="social_media">Link to Music</label>
                    </div>
                  </div>
                  <!--Create Room-->
                  <div class="row">
                    <div class="input-field col s12 text-center">
                      <button
                        class="waves-effect waves-light btn less-rounded black-text"
                        type="submit"
                        name="action"
                      >
                        Create Your Room
                      </button>
                    </div>
                  </div>
                </form>
                <!--End Create Room Form-->
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <!--Jam/Coming Soon-->
      <div id="jam">
        <div class="card less-rounded orange lighten-4">
          <div class="row">
            <div class="col s12">
              <div class="card-content">
                <p>Coming soon...</p>
                <p>Schedule a Jam session and invite your band mates</p>
                <p>And much more.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
